/* .drag-n-drop {
  padding: .5rem;
  display: grid;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fill, 300px);
}

.dndGroup {
  background-color: #49595e;
  border-radius: 5px;
  padding: .5rem;
}

.dndItem {
  min-height: 150px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #282c34;
  font-weight: bold;
  font-size: 1.2rem;
}

.dndItem:not(:last-of-type) {
  margin-bottom: .5rem;
}

.dndItem * {
  margin: 0;

}

.group-title {
  margin-bottom: .5rem;
  font-size: 1.5rem;
}

.current {
  background-color: #282c34;
} */